<section>

    <div   class="banner">

        <div class="" class= "foto-perfil">  
            <img  src= '../../../assets/img/perfil.jpeg'  alt="imagenPequeña" class="img-fluid" class="rounded-circle z-depth-2 border-5 my-3 border border-primary"
                style="width: 200px;"
                >
             <button type="button" class="btn btn-light bi bi-pencil-square"></button>
            </div>
        </div>
    
    <div class_="nombre" >
        <h3>Chesini Pablo Eugenio Sebastian.</h3>
        <div class="mt-4">
            
            <button type="button" class="btn btn-outline-primary">Tengo interes en</button>
            <button type="button" class="btn btn-outline-secondary">Añadir selección</button>
            <button type="button" class="btn btn-outline-secondary">Más</button>
         </div> 
    </div>


    <div class="card" >
           
        <h3 class="card-header">Acerca De Mi.</h3>
        <p class="card-text" id="estudios">Estudiante de ingenieria en sistemas, autodidacta en programacion y desarrollo.</p>
        <button type="button" id="boton" class="btn btn-light bi bi-pencil-square btn-right"></button>
        
    </div>
</section>
