<div class="row">
<div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/java.png'"
  [showImage]="true"
  [imageWidth]=100
  [imageHeight]=100
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#C3240E'"
  [innerStrokeColor]="'#0E58C3'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/sb.jpg'"
  [showImage]="true"
  [imageWidth]=80
  [imageHeight]=80
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#61D766'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/sql.png'"
  [showImage]="true"
  [imageWidth]=100
  [imageHeight]=100
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#FFC300'"
  [innerStrokeColor]="'#0E58C3'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
        <div>
        <button type="button" class="btn btn-primary  bi bi-pencil-square"> </button>
        <button type="button" class="btn btn-dark bi bi-x-square"> </button>
      </div>
    </div>
