<div class="card">
    <h5 class="card-header">hard skill</h5>
    <div class="card-body">
      <h5 class="card-title"> Lenguajes, y frameworks utilizados</h5>
      <p class="card-text">Del lado del front end: Javascript, HTML,CSS, Bootstrap, Angular.</p>
      <div class="row" >
        <app-circulos></app-circulos>
      </div>

</div>
<div class="card-body">
<p class="card-text">Del lado del Back-End: Java, SQL, Mysql, Springboot</p>
<div class="row">
    <app-circulos2></app-circulos2>
</div>
</div>
<div class="card-body">
  <p class="card-text">Herramientas de desarrollo.</p>
  <div class="row">
      <app-herramientas></app-herramientas>
  </div>
  </div>
  
  
