<div class="card">
    <h5 class="card-header">Proyectos</h5>
    <div class="card-body">
        <ul>
      <li><h5 class="card-title">Lista de proyectos</h5>
      <p class="card-text">decripcion de algunos proyectos</p></li>
      <li><h5 class="card-title">Lista de proyectos</h5>
        <p class="card-text">decripcion de algunos proyectos</p></li>
      </ul>
      <app-boton-agregar text=""(btnClick)="agregarTexto()"></app-boton-agregar>
      <button type="button" class="btn btn-dark bi bi-x-square"></button>
      </div>

  </div>

  

