<div class="card">
    <h5 class="card-header">Proyectos</h5>
    <div class="card-body">
        <ul>
      <li *ngFor=" let proyecto of proyectos"><h5 class="card-title">{{ proyecto.nombre }}</h5>
      <p class="card-text">{{ proyecto.texto }}</p></li>
      
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <app-boton-agregar text=""(btnClick)="agregarTexto()"></app-boton-agregar>
      <button type="button" class="btn btn-dark bi bi-x-square"></button>
      </div>

  </div>

  

