<section>
<div class="container">
<div class="card">
    <h5 class="card-header">Proyectos</h5>
    <div class="card-body">
        <ul>
            <!--itero en la lista ue entra -->
      <li *ngFor=" let proyecto of proyectos"><h5 class="card-title">{{ proyecto.nombre }}
          <app-boton-agregar id="botonAgregar" class="d-grid gap-2 d-md-flex justify-content-md-end" text=""(btnClick)="agregarTexto()"></app-boton-agregar> 
          <button type="button" class=" d-grid gap-2 d-md-flex justify-content-md-end btn btn-dark bi bi-x-square "></button> </h5>
      <p class="card-text">{{ proyecto.texto }}</p></li>
    
      </ul>
     
  </div>

  </div>
</div>
</section>