<div class="container">
<div class="row">
<div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/vs.jpg'"
  [showImage]="true"
  [imageWidth]=80
  [imageHeight]=80
  [outerStrokeWidth]="8"
  [outerStrokeColor]="'#1021EF'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/git.jpg'"
  [showImage]="true"
  [imageWidth]=80
  [imageHeight]=80
  [outerStrokeWidth]="8"
  [outerStrokeColor]="'#EF6F10'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>

<div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/github.jpg'"
  [showImage]="true"
  [imageWidth]=75
  [imageHeight]=75
  [outerStrokeWidth]="8"
  [outerStrokeColor]="'#0B0A0A'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <app-boton-agregar text=""(btnClick)="agregarTexto()"></app-boton-agregar>
        <button type="button" class="btn btn-dark bi bi-x-square"> </button>
      </div>
    </div>
  </div>