<section>
<div class="card">
    <h5 class="card-header">Formacion Academica</h5>
    <div class="card-body">
      <h5 class="card-title">Ingenieria en sistemas de  Informacion </h5>
      <p class="card-text">Universidad Tecnologica Nacional, 2020 actualidad.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <app-boton-agregar text=""(btnClick)="agregarTexto()"></app-boton-agregar>
      <button type="button" class="btn btn-dark bi bi-x-square btn-right"></button>
      </div>
    </div>
    </div>
  
</section>