

<div class="row">
  <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [imageSrc]="'../../../assets/img/html.png'"
  [showImage]="true"
  [imageWidth]=100
  [imageHeight]=100
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#D46304'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col">
  <circle-progress
[percent]="85"
[radius]="60"
[imageSrc]="'../../../assets/img/css.png'"
[showImage]="true"
[imageWidth]=100
[imageHeight]=100
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#044DD4'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="col">
  <circle-progress
[percent]="85"
[radius]="60"
[imageSrc]="'../../../assets/img/js.png'"
[showImage]="true"
[imageWidth]=70
[imageHeight]=90
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#F0F800'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="col">
  <circle-progress
[percent]="85"
[radius]="60"
[imageSrc]="'../../../assets/img/angular.png'"
[showImage]="true"
[imageWidth]=200
[imageHeight]=150
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'red'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="col">
  <circle-progress
[percent]="85"
[radius]="60"
[imageSrc]="'../../../assets/img/bootstrap.png'"
[showImage]="true"
[imageWidth]=100
[imageHeight]=100
[outerStrokeWidth]="8"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#6E0EC3'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
      <div>
      <button type="button" class="btn btn-primary  bi bi-pencil-square"> </button>
      <button type="button" class="btn btn-dark bi bi-x-square"> </button>
    </div>
  </div>

