<div class="contenedor-header">
        
    <div class="row">
        <div class="col">
          <img src="../../img/logo.png" alt="Argentina Programa # Yo Programo">  
        </div>
        <div class="col">
            <div class="contenedor-redes">

                <ul class="nav justify-content-end" style="color: black">
                   <a href=""></a><li><i class="bi bi-linkedin"></i></li>
                   <a href=""></a><li><i class="bi bi-twitter"></i></li>
                   <a href=""></a><li><i class="bi bi-github"></i></li>
                   <button type="button" class="btn btn-primary">Login</button>
                </ul>
                
              </div>  
            </div>
        </div>
    </div>
